---
interface Props {
  src: string;
  alt: string;
  url: string;
}

const { src, alt, url } = Astro.props;

import "../styles/components/carousel-item.css";
---

<a href={url} target="_blank" class="carousel-item-link">
  <div class="carousel-item">
    <img src={src} alt={alt} class="carousel-image" />
    <div class="overlay">
      <div class="overlay-content">
        <h5></h5>
        <span class="arrow"
          ><svg
            class="w-6 h-6 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M20 12H8m12 0-4 4m4-4-4-4M9 4H7a3 3 0 0 0-3 3v10a3 3 0 0 0 3 3h2"
            ></path>
          </svg>
        </span>
      </div>
    </div>
  </div>
</a>
