---
interface Props {
  href: string;
  text: string;
  social: string;
}

const { href, text, social } = Astro.props;
import "../styles/components/social-button.css";
---

<div class="social-wrapper">
  <span class="left">{text}</span>
  <span class="spacer"></span>
  <a class="right" href={href} target="_blank" rel="noopener noreferrer">
    {social}
  </a>
</div>
