---
import About from "../layouts/sections/About.astro";
import Work from "../layouts/sections/Work.astro";
import Layout from "../layouts/Layout.astro";
import Design from "../layouts/sections/Design.astro";
import Stack from "../layouts/sections/Stack.astro";
import Experience from "../layouts/sections/Experience.astro";
---

<Layout>
  <About />
  <section id="work"><Work /></section>
  <section id="design"><Design /></section>
  <section id="stack"><Stack /></section>
  <section id="experience"><Experience /></section>
</Layout>
