---
import About from "../layouts/sections/About.astro";
import Layout from "../layouts/Layout.astro";
import Projects from "../layouts/sections/Projects.astro";
import Stack from "../layouts/sections/Stack.astro";
import Featured from "../layouts/sections/Featured.astro";
---

<Layout>
  <section id="about"><About /></section>
  <section id="projects"><Projects /></section>
  <section id="featured"><Featured /></section>
</Layout>
