---
import "../styles/sections/about-styles.css";
import BioComponent from "../components/BioComponent.astro";
import ABOUT_ME_DATA from "../../lib/data/about-data.json";
import AsciiLava from "../components/AsciiLava.astro";
import SocialButton from "../components/SocialButton.astro";
import socials from "../../lib/data/socials-data.json";

const { bio } = ABOUT_ME_DATA;
const { linkedinUrl, githubUrl, behanceUrl } = socials;
---

<section class="about-me">
  <!--
  <div class="ascii-lava-box">
    <AsciiLava />
  </div>
  -->

  <div class="text-box">
    <BioComponent
      name="Tomás Manduca"
      subtitle="Developer based in Buenos Aires, Argentina."
      avatar="/avatar.jpg"
    />

    <p class="introduction-box">{bio}</p>

    <div class="socials">
      <SocialButton
        linkedinUrl={linkedinUrl}
        githubUrl={githubUrl}
        behanceUrl={behanceUrl}
      />
    </div>
  </div>
</section>
