---
import TimelineItem from "../components/TimelineItem.astro";
---

<hr class="styled-hr" />
<main class="work-experience">
  <section class="timeline">
    <p>
      selected projects<p>
        <TimelineItem
          companyIcon="https://i.imgur.com/9GRpfw9.png"
          altText="Berry"
          roleTitle="Product"
          companyName="Berry"
          dateOrStatus="Ongoing"
          description="Berry is a simple open-source alternative for managing classrooms and teaching schedules."
          learnMoreLink="https://github.com/tomndc/berry"
        />

        <TimelineItem
          companyIcon="https://cdn-icons-png.flaticon.com/512/10453/10453654.png"
          altText="portfolio-template"
          roleTitle="Website"
          companyName="portfolio-template"
          dateOrStatus="2023"
          description="A template of this website, using Astro, p5.js and Javascript."
        />

        <TimelineItem
          companyIcon="https://i.imgur.com/hjJDGRv.png"
          altText="gcalendar-cli"
          roleTitle="Utility"
          companyName="gcalendar-cli"
          dateOrStatus="2023"
          description="A simple but effective CLI that allows you to access your Google Calendar and operate from a command line, made with Python."
          learnMoreLink="https://github.com/tomndc/gcalendar-cli"
        />
        <TimelineItem
          companyIcon="https://encrypted-tbn2.gstatic.com/faviconV2?url=https://nativo.unahur.edu.ar&client=VFE&size=64&type=FAVICON&fallback_opts=TYPE,SIZE,URL&nfrp=2"
          altText="Berry"
          roleTitle="Product"
          companyName="Nativo"
          dateOrStatus="2024"
          description="Nativo was a university multimedia archive platform designed to centralize, preserve, and provide access to academic audiovisual content."
          projects={[
            "https://nativo.unahur.edu.ar/img/comunidad/1726509890imagen.png",
            "https://i.ytimg.com/vi/33k5_ACFA6Q/maxresdefault.jpg",
            "https://nativo.unahur.edu.ar/img/comunidad/1727970168imagen.png",
          ]}
          learnMoreLink="https://nativo.unahur.edu.ar/"
        />
      </p>
    </p>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const items = document.querySelectorAll(".timeline-item");

        items.forEach((item) => {
          const header = item.querySelector(".timeline-header");
          const content = item.querySelector(".timeline-content");

          header.addEventListener("click", (e) => {
            e.preventDefault();

            if (item.classList.contains("active")) {
              content.classList.add("hidden");
              item.classList.remove("active");
              return;
            }

            items.forEach((otherItem) => {
              otherItem.classList.remove("active");
              otherItem
                .querySelector(".timeline-content")
                .classList.add("hidden");
            });

            content.classList.remove("hidden");
            item.classList.add("active");

            item.scrollIntoView({
              behavior: "smooth",
              block: "center",
            });
          });
        });
      });
    </script>
  </section>
</main>
