<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/layouts/styles/global.css" />
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.min.js"
    ></script>
    <script src="/src/lib/theme.js"></script>
  </head>
  <header>
    <div class="links">
      <a class="section-link" href="#work">work</a>
      <a class="section-link" href="#design">design</a>
      <a class="section-link" href="#stack">stack</a>
      <a class="section-link" href="#experience">experience</a>
      <a class="section-link" href="#other">other works</a>
    </div>
    <div class="utilities">
      <a class="section-link" href="#notes"><b>notes</b></a>
      <span id="theme-toggle" class="theme-toggle">
        <svg
          id="theme-icon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M20.512,20.965h0A8.969,8.969,0,0,1,19,15.972V9.293A8.213,8.213,0,0,0,11.246,1,8,8,0,0,0,3,9v3A11.013,11.013,0,0,0,14,23h6a1,1,0,0,0,.833-1.554ZM14,21a9.011,9.011,0,0,1-9-9V9a6,6,0,0,1,6-6l.187,0A6.2,6.2,0,0,1,17,9.293v6.679A10.954,10.954,0,0,0,18.216,21Z"
          ></path><path d="M9,9A1,1,0,0,0,7,9v2a1,1,0,0,0,2,0Z"></path><path
            d="M14,8a1,1,0,0,0-1,1v2a1,1,0,0,0,2,0V9A1,1,0,0,0,14,8Z"
          ></path><path d="M12,13H10a1,1,0,0,0,0,2h2a1,1,0,0,0,0-2Z"></path>
        </svg>
      </span>
    </div>
  </header>
  <body>
    <!-- Main content -->
    <main>
      <slot />
    </main>
  </body>
  <footer>
    <p>© 2025 All rights reserved</p>
    <p>Made with Astro by Tomás</p>
  </footer>


</html>
