.experience-item {
  display: flex;
  gap: 1rem;
  padding: 1.2rem 0;
}

.period {
  width: 140px;
  font-size: 0.85rem;
  flex-shrink: 0;
}

.details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.title {
  font-weight: 600;
  font-size: 0.85rem;
  line-height: 1.4;
}

.location {
  font-size: 0.85rem;
}

.description {
  font-size: 0.9rem;
  line-height: 1.2;
}

.stack {
  font-size: 0.8rem;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.full-work {
  text-align: right;
  font-size: 15px;
  color: #f9f871;
  font-weight: bold;
  text-decoration: underline dotted;
}
