.timeline-header {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease, background-image 0.1s ease, border-color 0.1s ease;
    justify-content: space-between;
    border: 1px solid transparent;
    color: inherit;
}

body .timeline-item.active .timeline-header,
body .timeline-item:hover .timeline-header {
    border-color: #3b4343;
}

body.light .timeline-item.active .timeline-header,
body.light .timeline-item:hover .timeline-header {
    border-color: #cfcfcf;
}

.timeline-header .role h2 {
    margin: 0;
    font-size: 13px;
    color: #A6B9BA;
    display: inline;
    font-weight: 400;
    margin-right: 10px;
}

.timeline-header .role h3 {
    margin-right: 10px;
    font-size: 14px;
    color: #A6B9BA;
    display: inline;
    font-weight: 400;
}

body.light .timeline-header .role h2 {
    margin: 0;
    font-size: 13px;
    color: #1A2124;
    display: inline;
    font-weight: 400;
    margin-right: 10px;
}

body.light .timeline-header .role h3 {
    margin-right: 10px;
    font-size: 14px;
    color: inherit;
    display: inline;
    font-weight: 400;
}

.timeline-header .date {
    font-size: 12px;
    color: inherit;
    font-weight: 400;
    text-align: right;
    justify-content: end;
    margin-left: auto;
}
  
.timeline-item svg {
    margin-left: 12px;
    background-color: transparent;
    fill: #A6B9BA;
    stroke: #A6B9BA;
}

body.light .timeline-item svg {
    margin-left: 12px;
    background-color: transparent;
    fill: #111111;
    stroke: #111111;
}

.timeline-item:hover svg {
    transform: scale(1.5);
    transition: fill 0.1s ease, stroke 0.1s ease, transform 0.1s ease;
}

.timeline-header .company-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    filter: grayscale(100%);
    transition: filter 0.1s ease;
}

body .timeline-item.active .timeline-header .company-icon,
body .timeline-item:hover .timeline-header .company-icon {
    filter: grayscale(0%);
}

.timeline-item {
    overflow: hidden;
    transition: all 0.1s ease;
    background-color: transparent;
    color: inherit;
}

body .timeline-item:hover,
body.light .timeline-item:hover {
    background-color: transparent;
}

.timeline-content.hidden {
    display: none;
}

.timeline-item.active .timeline-content {
    max-height: none;
    opacity: 1;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.projects {
    display: flex;
    gap: 8px;
    margin-top: 8px;
    justify-content: flex-start;
}

.projects img {
    width: 120px;
    height: auto;
    border-radius: 4px;
    transition: transform 0.2s ease-in-out;
    object-fit: cover;
}

.projects img:hover {
    transform: scale(1.05);
}

.learn-more {
    color: #f9f871;
    text-decoration: none;
    font-size: 12px;
    margin-top: 8px;
    margin-left: 0;
    margin-right: auto;
    font-weight: 600;
}


body.light .learn-more {
    color: #1a2124;
    text-decoration: none;
    font-size: 12px;
    margin-top: 8px;
    margin-left: 0;
    margin-right: auto;
    font-weight: 600;
}

.currently {
    font-size: 12px;
    color: inherit;
    font-weight: 800;
    text-align: right;
    justify-content: end;
    margin-left: auto;
    background-color: #f9f871;
    border-radius: 6px;
    padding: 5px;
}

@media (max-width: 768px) {
    .timeline-header {
        flex-direction: column; 
        align-items: flex-start;
    }

    .timeline-header .role h2,
    .timeline-header .role h3 {
        font-size: 12px;
        margin-bottom: 5px; 
    }

    .timeline-header .date {
        font-size: 12px;
        margin-left: 0;
    }

    .timeline-header .company-icon {
        width: 20px;
        height: 20px;
    }

    .timeline-item {
        margin-bottom: 10px; 
    }

    .projects img {
        width: 100px;  
    }

    .learn-more {
        font-size: 10px; 
    }

    .currently {
        font-size: 10px; 
    }
}

@media (max-width: 480px) {
    .timeline-header {
        padding: 10px;
    }

    .timeline-header .role h2,
    .timeline-header .role h3 {
        font-size: 12px;
        margin-bottom: 4px;
    }

    .timeline-header .date {
        font-size: 11px;
    }

    .timeline-header .company-icon {
        width: 18px;
        height: 18px;
    }

    .timeline-item {
        margin-bottom: 8px;
    }

    .projects img {
        width: 80px;
    }

    .learn-more {
        font-size: 10px;
    }

    .currently {
        font-size: 10px;
    }
}